<section>
    <h1>Connect</h1>
    <p>
    <a href="http://plus.google.com/101078586085866983772"><img src="/images/custom/social/Google.png" /></a>
    <a href="http://facebook.com/realmcking"><img src="/images/custom/social/Facebook.png" /></a>
    <a href="http://twitter.com/realmcking"><img src="/images/custom/social/Twitter.png" /></a>
    <a href="http://lnkd.in/-NBqBD"><img src="/images/custom/social/LinkedIn.png" /></a>
    <a href="http://github.com/BradGunnerSGT"><img src="/images/custom/social/GitHub.png" /></a>
    <p>
</section>
